@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    margin: 0px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 56px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    width: 30px;
    height: 20px;
    background-color: white;
    margin-right: 25px;
}

.home {
    width: 60px;
    height: 20px;
    background-color: red;
}

.navbar-middle {
    display: flex;
    flex-direction: row;
}

.searchbar {
    height: 30px;
    width: 35vw;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #303030;
}

.searchbutton {
    height: 30px;
    width: 60px;
    background-color: #303030;
    border-style: solid;
    border-width: 1px;
    border-color: #303030;
}

.voice-search {
    height: 30px;
    width: 20px;
    background-color: white;
    margin-left: 20px;
}

.navbar-right {
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

.profile {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    margin-left: 25px;
}

.notifications {
    height: 30px;
    width: 25px;
    background-color: white;
    margin-left: 25px;
}

.waffle {
    height: 30px;
    width: 25px;
    background-color: white;
    margin-left: 25px;
}

.live {
    height: 30px;
    width: 25px;
    background-color: white;
}

.body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video {
    position: relative;
    width: 100%;
    height: 45vw;
    background-color: black;
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.other-stuff {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.section1 {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
}

.title {
    margin-bottom: 15px;
}

.title:before {
    content: "Never Gonna Give You Up <3";
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}

.video-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.views-date {
    margin-bottom: 20px;
}

.views-date:before {
    content: "70,123 views : Aug 29, 2019";
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 0.85rem;
}

.likes-sharing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likes-dislikes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-icon {
    height: 20px;
    margin-right: 7px;
}

.like-amount-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.like-amount:before {
    content: "23K";
    color: #606060;
    font-size: 0.85rem;
    font-family: "Roboto", sans-serif;
}

.dislike-amount-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.dislike-amount:before {
    content: "12";
    color: #606060;
    font-size: 0.85rem;
    font-family: "Roboto", sans-serif;
}

.share {
    margin-right: 20px;
}

.share:before {
    content: "SHARE";
    color: #606060;
    font-size: 0.85rem;
    font-family: "Roboto", sans-serif;
}

.section2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.creator-picture {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: green;
    margin-right: 20px;
}

.video-stuff {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    flex: auto;
}

.channel-stuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.channel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.channel-name {
}

.channel-name:before {
    content: "Some Guy";
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.subscribers {
}

.subscribers:before {
    content: "803K subscribers";
    color: #606060;
    font-size: 0.9rem;
}

.channel-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
}

.join-button {
    position: relative;
    height: 35px;
    outline: 1px solid #2660d7;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.join-button:before {
    position: relative;
    content: "JOIN";
    font-family: "Roboto", sans-serif;
    color: #2660d7;
}

.subscribe-button {
    position: relative;
    height: 35px;
    background-color: #c30000;
    outline: 1px solid #c30000;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.subscribe-button:before {
    position: relative;
    content: "SUBSCRIBE";
    font-family: "Roboto", sans-serif;
    color: white;
}

.description {
    margin-bottom: 20px;
}

.description:before {
    content: "Here's a description. \a I linebreak by using \\a and also setting white-space to preserved (pre).";
    white-space: pre;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.section3 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.comment-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.comment-amount {
    position: relative;
    margin-right: 30px;
}

.comment-amount:before {
    content: "135 Comments";
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.sort-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sort-icon {
    height: 10px;
    margin-right: 10px;
}

.sort-text:before {
    content: "SORT BY";
    color: #606060;
    font-size: 0.85rem;
    font-family: "Roboto", sans-serif;
}

.comment-create {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex: auto;
}

.comment-create-profile-picture {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: green;
    margin-right: 15px;
}

.comment-create-input {
    flex: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.comment-create-input:before {
    content: "Add a public comment...";
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 0.85rem;
}

.comment-section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.comment {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin-bottom: 30px;
}

.comment-profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: green;
    margin-right: 15px;
}

.comment-info {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.comment-name-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.comment-name:before {
    content: "Brian is cool";
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 5px;
}

.comment-date:before {
    content: "7 months ago";
    color: #606060;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
}

.comment-content:before {
    content: "This is a comment! Wooo!";
    white-space: pre;
    color: black;
    font-size: 0.85rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.comment-like-dislike {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.comment-like-amount-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-like-icon {
    height: 15px;
    margin-right: 5px;
}

.comment-like-amount {
    margin-right: 20px;
}

.comment-like-amount:before {
    content: "1.7K";
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 0.82rem;
}

.comment-dislike-icon {
    height: 15px;
    margin-right: 30px;
}

.reply-button:before {
    content: "REPLY";
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

.comment-view-replies-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-view-replies-icon {
    height: 4px;
    margin-right: 15px;
}

.comment-view-replies-text:before {
    content: "View 107 replies";
    color: #2660d7;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.recommended-videos {
    display: flex;
    flex-direction: column;
    width: 402px;
}

.recommended-video {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.recommended-video-thumbnail {
    width: 168px;
    height: 94px;
    margin-right: 10px;
}

.recommended-video-information {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
}

.recommended-video-title {
    margin-bottom: 5px;
}

.recommended-video-title:before {
    content: "Look at this BABY TURTLE run in circles!";
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.recommended-video-creator {
}

.recommended-video-creator:before {
    content: "Louis Rossmann";
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.recommended-video-views-date {
}

.recommended-video-views-date:before {
    content: "3.2M views : 5 years ago";
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}
